{
  "printWidth": 80,
  "tabWidth": 4,
  "trailingComma": "es5",
  "singleQuote": false,
  "semi": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "endOfLine": "lf",
  "arrowParens": "avoid"
}